/*******************
GLOBAL VARIABLES 
********************/

body {
	background: #000000;
	font-family: 'Oswald', sans-serif;
	font-weight: 100;
	color: #000000; 
}

a {
	color: #fff;
}

	a:hover {
		color: #000;
	}

.row-margin {
	margin: 2em 0;
}

/*******************
POSTER
********************/

.poster-border {
	border: 1px solid #2F2F2E;
}

/*******************
TAB NAVIGATION
********************/

.nav-tabs>li>a {
  border-radius: 0;
}

	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	  color: #555;
	  cursor: default;
	  background-color: #fff;
	  border: 1px solid #ddd;
	  border-bottom-color: transparent;
	}

/*******************
TABBED CONTENT
********************/

.panel {
	background-color: #000;
}

	.panel-default>.panel-heading {
	  color: #fff;
	  background-color: #000;
	  border-color: #fff;
	}

	.panel-title a:hover {
		color: #000000;
	}

.btn-primary {
  color: #fff;
  background-color: #2F2F2E;
  border-color: #2F2F2E;
}

	.btn-primary:hover {
	  background-color: #000;
	  border-color: #cead00;
	}

.titles {
	color: #ffffff;
}

.tab-content a:hover {
	color: #fff;
}

#About p {
	color: #fff;
}

#gallery img {
	margin: 1em 0.5em;
}

/*******************
FOOTER
********************/

.footer {
	margin-bottom: 1em;
}

	.footer h2 {
		font-size: 1.75em;
		color: #353435;
	}

	.footer a {
		padding: 0 1em;
		margin-bottom: 1em; 
	}
